<template name="myFooter">
<footer class="w3-container w3-padding-64 w3-padding-jumbo w3-card-2 w3-left-atdgn w3-opacity">
	<ul class="w3-footer-list w3-left w3-medium">
		<li><a href="#" class="w3-text-yellow"><i class="fa fa-briefcase"> Business</i></a></li> <!-- ex: conferences that relate to business -->
		<li><a href="#" class="w3-text-indigo"><i class="fa fa-bank"> Cultural</i></a></li>
		<li><a href="#" class="w3-text-khaki"><i class="fa fa-cutlery"> Culinary</i></a></li> <!-- restaurants, culinary workshops -->
		<li><a href="#" class="w3-text-blue"><i class="fa fa-graduation-cap"> Education</i></a></li> <!-- ex: conferences that relate to education -->
		<li><a href="#" class="w3-text-pink"><i class="fa fa-female"> Fashion</i></a></li> <!-- shopping, fashion workshops -->
	<!-- </ul> -->
	<!-- <ul class="w3-footer-list w3-left-align w3-medium"> -->
		<li><a href="#" class="w3-text-green"><i class="fa fa-futbol-o"> Sport</i></a></li>
		<li><a href="#" class="w3-text-orange"><i class="fa fa-camera"> Tourism</i></a></li> <!-- places that a tourist can visit in the city -->
		<li><a href="#" class="w3-text-purple"><i class="fa fa-book"> Workshop</i></a></li>
		<li><a href="#" class="w3-text-brown"><i class="fa fa-beer"> Entertainment</i></a></li> <!-- anything that relates to entertainment like concerts, festivals, movies etc -->
	</ul>

	<div class="w3-right w3-padding-right-128">
		<p>FOLLOW US</p>
		<div class="w3-xlarge">
			<a href="#" class="w3-hover-text-indigo w3-padding-tiny"><i class="fa fa-facebook-official"></i></a>
			<a href="#" class="w3-hover-text-red w3-padding-tiny"><i class="fa fa-pinterest-p"></i></a>
			<a href="#" class="w3-hover-text-tdght-blue w3-padding-tiny"><i class="fa fa-twitter"></i></a>
			<a href="#" class="w3-hover-text-purple w3-padding-tiny"><i class="fa fa-snapchat"></i></a>
			<a href="#" class="w3-hover-text-brown w3-padding-tiny"><i class="fa fa-instagram"></i></a>
		</div>
	</div>

	<table class="w3-table w3-padding-large">
		<tr>
			<td><h2>LOGO</h2><p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p></td>
			<td><p>CONTACT</p><tr>Lorem ipsum dolor sit amet</tr><tr>consectetur adipiscing elit.</tr><tr>Lorem ipsum dolor</tr></td>
			<td><p>HELP</p><tr>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</tr><tr>Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi </tr>ut aliquip ex ea commodo consequat.<tr></tr></td>
			<td>
				<p>SUBSCRIBE TO OUR NEWS</p>
				<input class="w3-input w3-border" type="text" placeholder="E-mail">
  			</td>
		</tr>
	</table>
</footer>
</template>