<template name="myFooter">
<footer class="w3-container w3-padding-64 w3-padding-jumbo w3-card-2 w3-left-atdgn w3-opacity">
	<table class="w3-table-footer w3-padding-large w3-left">
		<tr>
			<td><a href="#" ><i class="fa fa-briefcase"> Business</i></a></td> <!-- ex: conferences that relate to business -->
			<td><a href="#" ><i class="fa fa-bank"> Cultural</i></a></td>
			<td><a href="#" ><i class="fa fa-cutlery"> Culinary</i></a></td> <!-- restaurants, cutdnary workshops -->
			<td><a href="#" ><i class="fa fa-graduation-cap"> Education</i></a></td> <!-- ex: conferences that relate to education -->
			<td><a href="#" ><i class="fa fa-female"> Fashion</i></a></td> <!-- shopping, fashion workshops -->
		</tr>
		<tr>
			<td><a href="#" ><i class="fa fa-futbol-o"> Sport</i></a></td>
			<td><a href="#" ><i class="fa fa-camera"> Tourism</i></a></td> <!-- places that a tourist can visit in the city -->
			<td><a href="#" ><i class="fa fa-book"> Workshop</i></a></td>
			<td><a href="#" ><i class="fa fa-beer"> Entertainment</i></a></td> <!-- anything that relates to entertainment tdke concerts, festivals, movies etc -->
		</tr>
	</table>
	<div class="w3-right">
		<p>FOLLOW US</p>
		<div class="w3-xlarge">
			<a href="#" class="w3-hover-text-indigo w3-padding-tiny"><i class="fa fa-facebook-official"></i></a>
			<a href="#" class="w3-hover-text-red w3-padding-tiny"><i class="fa fa-pinterest-p"></i></a>
			<a href="#" class="w3-hover-text-tdght-blue w3-padding-tiny"><i class="fa fa-twitter"></i></a>
			<a href="#" class="w3-hover-text-purple w3-padding-tiny"><i class="fa fa-snapchat"></i></a>
			<a href="#" class="w3-hover-text-brown w3-padding-tiny"><i class="fa fa-instagram"></i></a>
		</div>
	</div>
	<br/>
	<br/>
	<br/>
	<br/>
	<hr>
	<table class="w3-table w3-padding-large">
		<tr>
			<td><h2>LOGO</h2><p>Powered by <a href="http://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p></td>
			<td><p>CONTACT</p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
			<td><p>HELP</p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</td>
			<td>
				<p>SUBSCRIBE TO OUR NEWS</p>
				<input class="w3-input w3-border" type="text" placeholder="E-mail">
  			</td>
		</tr>
	</table>
</footer>
</template>